*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color:#050505;
}

@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
       transform: rotateX(-30deg) rotateY(360deg) ;
    }
    
}
.cube1{
    height:200px;
    width: 200px;
    position: relative;
    
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}
.cube1 div{
    height:100%;
    width:100%;
    position: absolute;
    top:0%;
    left: 0%;
    transform-style: preserve-3d;
}
.cube1 div span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#151515,#f6f8f6);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    animation: move-away linear 4s 1 alternate-reverse;
}
@keyframes move-away{
    0%{
transform:rotateY(calc(90deg * var(--i))) translateZ(100px);
    }
    100%{
        transform:rotateY(calc(90deg * var(--i))) translateZ(350px);
    }
    
}
.top1{
    height:200px;
    width: 200px;
    position: absolute;
    top:0;
    left:0;
    background: #151515;
    transform: rotateX(90deg) translatez(100px);
    animation-delay: 4s;
    animation: move-up 4s linear 3 alternate-reverse;
}
@keyframes move-up{
    0%{
transform:rotateX(90deg) translatez(100px);
    }
    100%{
        transform: rotateX(90deg) translatez(350px);
    }
    
}
.bottom1{
    height:200px;
    width: 200px;
    position: absolute;
    top:0;
    left:0;
    background: #daddda;
    transform: rotateX(90deg) translatez(-160px);
    filter: blur(40px);
    animation:move-down linear 4s 1 alternate-reverse;
}
@keyframes move-down {
    0%{
        transform: rotateX(90deg) translatez(-160px);
         
    }
    100%{
        transform: rotateX(90deg) translatez(-360px);
        filter:none;
    }
    
}
